<!DOCTYPE html>
<html lang="en" xmlns:svg="http://www.w3.org/2000/svg">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}DMod{% endblock %}
    </title>
    <style type="text/css">
        {% load less %}

        {% block style %}
        @import url("{{ STATIC_URL }}{% less "less/bootstrap/bootstrap.less" %}");
        @import url("{{ STATIC_URL }}css/font-awesome/font-awesome-3.2.1.min.css");
        @import url("{{ STATIC_URL }}lib/openid-selector/css/openid.css");
        @import url("{{ STATIC_URL }}{% less "less/theme/theme.less" %}");
        @import url("{{ STATIC_URL }}{% less "less/util.less" %}");
        @import url("{{ STATIC_URL }}{% less "less/print.less" %}") print;
        {% endblock %}
    </style>

    {% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}lib/requirejs/require-2.1.6.min.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" language="javascript">
        require.config({
            baseUrl: '{{ STATIC_URL }}script/',
            waitSeconds: 5,
            paths: {
                // require plugins
                'text' :      '../lib/requirejs/plugins/text-2.0.7', // required by json plugin
                'json' :      '../lib/requirejs/plugins/json-0.3.1',
                // jquery and plugins
                'jquery':           '../lib/jquery/jquery-2.0.2.min',
                'jquery-ui':        '../lib/jquery-ui/jquery-ui-1.10.3.min',
                'jquery-classlist': '../lib/jquery-classlist/jquery-classlist-1.0.0',
                // other libs
                'bignumber':  '../lib/bignumber/bignumber-1.0.1.min',
                'bootstrap':  '../lib/bootstrap/bootstrap-3.0.0rc1.min',
                'highcharts': '../lib/highcharts/highcharts-3.0.2.min',
                'jsplumb':    '../lib/jsplumb/jsplumb-1.4.1.min',
                'slickgrid':  '../lib/slickgrid/slick.grid-2.0.2',
                'underscore': '../lib/underscore/underscore-1.4.4.min',
                // fuzzed specifics
                'notations':  '../notations'
            },
            // define dependencies for libs that are not AMD compatible
            shim: {
                'bootstrap': {
                    deps: ['jquery']
                },
                'jquery-ui': {
                    deps: ['jquery']
                },
                'jquery-classlist': {
                    deps: ['jquery']
                },
                'jsplumb': {
                    deps: ['jquery', 'jquery-ui'],
                    exports: 'jsPlumb'
                },
                'highcharts': {
                    deps: ['jquery'],
                    exports: 'Highcharts'
                },
                'slickgrid': {
                    deps: [
                        'jquery',
                        '../lib/slickgrid/slick.core-2.0.2',
                        '../lib/slickgrid/plugins/slick.rowselectionmodel-2.0.2',
                        '../lib/slickgrid/lib/jquery.event.drag-2.0.min'
                    ],
                    exports: 'Slick'
                },
                'underscore': {
                    exports: '_'
                }
            }
        });
    </script>

    {% if messages %}
        <script type="text/javascript">
            require(['alerts'], function(Alerts) {
                jQuery(document).ready( function(){
                    {% for message in messages %}
                        Alerts.showAlert('{{ message.tags }}', '{{ message.tags.capitalize }}', '{{ message }}', 5000);
                    {% endfor %}
                });
            });
        </script>
    {% endif %}
    {% endblock %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top no-print">
        <div class="container">
            <a class="navbar-brand" anchor="#">
                {% if graph %}DMod - {{ graph }}{% endif %}
            </a>

            {% block nav_center %}{% endblock %}

            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Used to clear the float on small devices to get the collaps menu right -->
            <div class="navbar-collapse-clear"></div>

            <!-- Place everything within .nav-collapse to hide it until above 768px -->
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-right">
                    {% block menu_right %}{% endblock %}
                    {%  if user.is_authenticated %}
                    <li><a href="/?logout"><i class="icon-off icon-white"></i> Logout </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% block body %}
    <div class="container space-top">
        <div id="FuzzEdAlertContainer" class="no-print"></div>

        {% block content %}{% endblock %}

        {% block footer %}
            {% include "util/footer.html" %}
        {% endblock %}
    </div>
    {% endblock %}
</body>
</html>
