<!DOCTYPE html>
<html lang="en" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}FuzzEd{% endblock %}</title>

    <style type="text/css">
        {% block style %}
        @import url("{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css");
        @import url("{{ STATIC_URL }}lib/bootstrap/css/bootstrap-responsive.min.css");
        @import url("{{ STATIC_URL }}lib/openid-selector/css/openid.css");
        @import url("{{ STATIC_URL }}css/util.css");
        {% endblock %}
    </style>

    {% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}lib/requirejs/require-jquery.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready( function(){
            // TODO: make this well
            jQuery(".alert").fadeIn().delay(1500).fadeOut();
        });
    </script>
    {% endblock %}
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" anchor="#">FuzzEd</a>
                <ul class="nav pull-right">
                    <li class="{% block navigation_home %}{% endblock %}">
                        <a href="/">
                            <i class="icon-home icon-white"></i>
                            Home
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="{% block navigation_settings %}{% endblock %}">
                        <a href="/settings">
                            <i class="icon-wrench icon-white"></i>
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="/?logout">
                            <i class="icon-off icon-white"></i>
                            Logout
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    
    {% block body %}
    <div class="container space-top">
        {% if messages %}
            <div style="position: relative; margin-top: -40px; top: 0; width: 100%">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success hide">
                    <i class="icon-ok-sign"></i>
                {% elif message.tags == "info"%}
                    <div class="alert alert-info hide">
                    <i class="icon-info-sign"></i>                
                {% elif message.tags == "warning"%}
                    <div class="alert hide">
                    <i class="icon-warning-sign"></i>                
                {% elif message.tags == "error"%}
                    <div class="alert alert-error hide">
                    <i class="icon-warning-sign"></i>                
                {% endif %}
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include "util/footer.html" %}
        {% endblock %}
    </div>
    {% endblock %}
</body>
</html>