<!DOCTYPE html>
<html lang="en" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <title>{% block title %}FuzzEd{% endblock %}</title>
    <style type="text/css">
        @import url("{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css");
        @import url("{{ STATIC_URL }}lib/bootstrap/css/bootstrap-responsive.min.css");
        @import url("{{ STATIC_URL }}lib/openid-selector/css/openid.css");
        @import url("{{ STATIC_URL }}css/util.css");
    </style>

    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav pull-right">
                    <li class="{% block navigation_home %}{% endblock %}">
                        <a href="/">
                            <i class="icon-home icon-white"></i>
                            Home
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="{% block navigation_settings %}{% endblock %}">
                        <a href="/settings">
                            <i class="icon-wrench icon-white"></i>
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="/?logout">
                            <i class="icon-off icon-white"></i>
                            Logout
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <a class="brand" anchor="#">FuzzEd</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        {% block content %}{% endblock %}

        {% include "util/footer.html" %}
    </div>
</body>
</html>