<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <style type="text/css">
        @import url("{{ STATIC_URL }}css/bootstrap/bootstrap-2.3.2.min.css");
        @import url("{{ STATIC_URL }}css/bootstrap/bootstrap-responsive-2.3.2.min.css");
        @import url("{{ STATIC_URL }}css/font-awesome/font-awesome-3.2.1.min.css");
        @import url("{{ STATIC_URL }}css/util.css");
        @import url("{{ STATIC_URL }}css/print.css") print;
    </style>
</head>

<body>
    <div class="container">
        <div class="hero-unit">
            {% block content %}{% endblock %}
        </div>
        {% include "util/footer.html" %}
    </div>
</body>
</html>