<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="{{ STATIC_URL }}lib/jquery-ui/development-bundle/jquery-1.7.2.js" type="text/javascript" language="javascript"></script>
<script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-2.0.4.min.js" type="text/javascript" language="javascript"></script>
<script src="{{ STATIC_URL }}lib/openid-selector/js/openid-jquery.js" type="text/javascript" language="javascript"></script>
<script src="{{ STATIC_URL }}lib/openid-selector/js/openid-en.js" type="text/javascript" language="javascript"></script>