*.pyc
*.log
.DS_Store
frontend/ore/models/node_rendering.py
frontend/ore/models/notations.py
frontend/ore/models/xml_backend.py
frontend/ore/models/xml_common.py
frontend/ore/models/xml_configurations.py
frontend/ore/models/xml_faulttree.py
frontend/ore/models/xml_fuzztree.py
frontend/ore/static/css/theme/white.css
frontend/ore/static-release
backends/**CMakeFiles
backends/**CMakeCache.txt
backends/**Makefile
backends/**cmake_install.cmake
backends/common_generated/*
backends/lib
.sconsign.dblite
frontend/ore/static/css/font-awesome/font-awesome-4.1.0.css
frontend/ore/static/css/font-awesome/font-awesome-4.1.0.min.css
frontend/ore/static/lib/jquery-ui/jquery-ui-1.10.3.js
frontend/ore/static/lib/jquery-ui/jquery-ui-1.10.3.min.js
backends/build
backends/thirdParty/pugixml/build
*.o
*.make
backends/CMakeFiles
cmake_install.cmake
CMakeFiles
Makefile
dist
CMakeCache.txt
.Python
