#!/bin/sh
export FUZZED_SOCIAL_AUTH_GOOGLE_OAUTH2_KEY="<invalid> Get from https://console.developers.google.com/project"
export FUZZED_SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET="<invalid>"
export FUZZED_SOCIAL_AUTH_TWITTER_KEY="<invalid> Get from https://apps.twitter.com"
export FUZZED_SOCIAL_AUTH_TWITTER_SECRET="<invalid>"
export FUZZED_SOCIAL_AUTH_LIVE_CLIENT_ID="<invalid> Get from https://account.live.com/developers/applications/create"
export FUZZED_SOCIAL_AUTH_LIVE_CLIENT_SECRET="<invalid>" 
export FUZZED_SOCIAL_AUTH_YAHOO_OAUTH2_KEY="<invalid> Get from https://developer.yahoo.com/apps/"
export FUZZED_SOCIAL_AUTH_YAHOO_OAUTH2_SECRET="<invalid>"
export FUZZED_SECRET_KEY="<random garbage>"
