{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - Share {{ graph }}
{% endblock %}

{%block navigation_home %}hidden{% endblock %}


{% block script %}
{{ block.super }}
<script type="text/javascript" language="javascript">
  require(['selectize'], function() {
      jQuery('#users').selectize({
          plugins: ['remove_button'],
		      maxItems: null,
		      create: false
      });
  });
</script>
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>
        Edit <small>{{ graph }}</small>
    </h1>
    The graphs you share are only readable, but not modifiable, by the chosen users.
</div>

<form method="POST" action="{% url 'dashboard_edit' project.pk %}" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="graph_id_list" value="{{ graph_id_list }}"/>
    <fieldset>
        <div class="form-group">
            <label for="users" class="col-lg-2 control-label">Users:</label>
            <div class="col-lg-10">
                <select name="users" id="users" multiple placeholder="Pick some users...">
                  {% for user in users %}
                      <option value="{{ user.pk }}">{{ user.visible_name }}</option>
                  {% endfor %}

                </select>
            </div>  
        </div>
        <div class="form-group">
            <div class="col-push-2 col-lg-10">
                <button type="submit" name="share_save" value="share_save" class="btn btn-primary">Save</button>
                <button class="btn btn-default" onclick="history.go(-1); return false;">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
