#FuzzedShapes {
    position:  absolute;
    top:       0;
    left:      0;
    width:     200px;
    min-width: 200px;
    overflow:  auto;
    z-index:   100;
    text-align: center;
}

#FuzzedShapes hr {
    margin: 10px 0;
}

#FuzzedShapes .row-fluid {
    margin-bottom: 20px;
}

#FuzzedShapes .row-fluid:last-child {
    margin-bottom: 0;
}

.fuzzed-node-thumbnail {
    display: inline-block;
}

.fuzzed-node-thumbnail-label {
    display: block;
    font-size: 0.85em;
}
