{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - Create a Project
{% endblock %}

{%block navigation_home %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Create
        <small>a new Project</small>
    </h1>
</div>

<form method="POST" action="{% url 'project_new' %}" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="name">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="name" value="New Project" id="name">
            </div>
        </div>

        <div class="form-group">
            <div class="col-push-2 col-lg-10">
                <button type="submit" name="save" value="save" class="btn btn-primary">Create</button>
                <a class="btn btn-default" href="{% url 'projects' %}">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
