<!DOCTYPE html>
<html lang="en">

<head>
<title>403 - Forbidden</title>
{% include "util/style.html" %}

</head>

<body>
    <div class="container error_container">
        <div class="hero-unit">
            <h1>403</h1>
            <h3>“C++: Where friends have access to your private members.” — Gavin Russell Baker</h3>
            <h6>Unfortunately this is not C++. You are not allowed to view this page, sorry! Maybe you want to sign on and try again.</h6>
        </div>

        {% include "util/footer.html" %}
    </div>
</body>

</html>