{% extends "util/base.html" %}

{% block script %}
<script src="{{ STATIC_URL }}lib/requirejs/require-2.1.6.min.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript">
    require.config({
        baseUrl: '{{ STATIC_URL }}',
        waitSeconds: 5,
        paths: {
            'jquery':          'lib/jquery/jquery-2.0.2',
            'openid-selector': 'lib/openid-selector/js'
        },
        // define dependencies for libs that are not AMD compatible
        shim: {
            'openid-selector/openid-jquery': {
                deps: ['jquery'],
                exports: 'openid'
            },
            'openid-selector/openid-en': ['openid-selector/openid-jquery']
        }
    });

    require(['openid-selector/openid-jquery', 'openid-selector/openid-en'], function() {
        $(document).ready(function() {
            openid.img_path = "{{ STATIC_URL }}lib/openid-selector/images/";
            openid.init('openid_identifier');
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Welcome to D-Mod.
    </h1>
</div>

<div class="alert alert-block">
    <h4 class="alert-heading">
        <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha">Public Alpha</a>
    </h4>
    Feel free to try out everything. However, please excuse sudden service flaws as the project is still under development.<br>
    If you have any <a href="http://fuzztrees.uservoice.com">feedback</a> we would be happy to hear it.
</div>

<section>
    <div class="row">
        <div class="col-4">
            <h4>Dependability Modeling<br/>in the Cloud.
                <br><small>Fault Trees and RBDs</small>
            </h4>
            <p>
                If you need a quick way for drawing and analyzing system 
                dependability models, this tool is the fastest path to go. 
                We do (and always will) provide a free basic account for non-commercial use.
            </p>
        </div>

        <div class="col-4">
            <h4>Make Uncertainties Explicit.<br/>
                <br><small>Introducing FuzzTrees</small>
            </h4>
            <p>
                Our novel extended concept for fault tree modeling allows you to express
                configurable and uncertain parts of the system. 
                Our analysis engine tells you which configuration options of the live system
                will give the best cost-dependability ratio.
            </p>
        </div>

        <div class="col-4">
            <h4>Freedom of Research,<br/>Privacy of Data.
                <br><small>Licensing options available</small>
            </h4>
            <p>
                DMod is designed for being used in teaching, academic and commercial environments.
                Non-commercial use of this service will always be free. 
                If you are interested in licensing this product for internal use behind your firewall, just <a href="mail:peter.troeger@hpi.uni-potsdam.de">talk to us</a>. 
            </p>
        </div>
    </div>
</section>

<section>
    <h5>Please use one of these authentication providers</h5>

    <form action="/login/" method="get" id="openid_form">
        <input type="hidden" name="action" value="verify" />
        <fieldset>
            <div id="openid_choice">
                <div id="openid_btns"></div>
            </div>
            <div id="openid_input_area">
                <input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
                <input id="openid_submit" type="submit" value="Sign-In"/>
            </div>
            <noscript>
                <p>
                    OpenID is service that allows you to log-on to many different websites using a single identity.
                    Find out <a href="http://openid.net/what/">more about OpenID</a> and
                    <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.
                </p>
            </noscript>
        </fieldset>
    </form>

    {% if pwlogin %}
        <div>
            <form action="/login/" method="post" id="login_form">{% csrf_token %}
                <input type="text" id="loginname" name="loginname"/>
                <input type="password" id="loginpw" name="loginpw"/>
                <input type="submit" name="formlogin" value="Login"/>
            </form>
        </div>
    {% endif %}
</section>
{% endblock %}