{% extends "util/base.html" %}
{% load settings %}

{% block meta %}
<meta name="description" content="FuzzEd gives you the fastest way for creating system dependability models in the browser.">
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
    require(['openid-selector/openid-jquery', 'openid-selector/openid-en'], function() {
        $(document).ready(function() {
            openid.img_path = "{{ STATIC_URL }}lib/openid-selector/images/";
            openid.init('openid_identifier');
        });
    });
    require(['bootstrap'], function() {});
</script>
{% endblock %}

{% block goto_menu %}
<li><a href="{% setting 'FEEDBACK_PAGE' %}"><i class="fa fa-fw fa-bolt"></i> Feedback </a></li>
{% endblock %}


{% block content %}
<section>
    <div class="row">
        <div class="col-4">
            <h4>Dependability Analysis<br/>in the Cloud.
                <br><small>Fault Trees and RBDs.</small>
            </h4>
            <p>
                FuzzEd gives you the fastest way for creating system 
                dependability models. Share your models and ideas with other experts, but only if you want to.
                <br/> 
            </p>
        </div>

        <div class="col-4">
            <h4>Make The Uncertainties<br/>Explicit.
                <br><small>Introducing FuzzTrees.</small>
            </h4>
            <p>
                Our novel concept for fault tree modeling with uncertainties allows you to express
                configurable and currently underspecified parts of the system.<br/> 
                Our analysis engine tells you which configuration options 
                will give the best cost-dependability ratio.
            </p>
        </div>

        <div class="col-4">
            <h4>Freedom of Research,<br/>Privacy of Data.
                <br><small>Options available.</small>
            </h4>
            <p>
                FuzzEd is licensed under AGPL, which allows you to install und use it freely in your own environment. If you want to contribute modifications, please join our <a href="https://github.com/troeger/fuzzed">GitHub project</a>. 
            </p>
        </div>
    </div>
</section>

<section>
    <h5>Please use one of these authentication providers</h5>

    <form action="/login/" method="post" id="openid_form">
        {% csrf_token %}
        <input type="hidden" name="action" value="verify" />
        <fieldset>
            <div id="openid_choice">
                <div id="openid_btns"></div>
            </div>
            <div id="openid_input_area">
                <input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
                <input id="openid_submit" type="submit" value="Sign-In"/>
            </div>
            <noscript>
                <p>
                    OpenID is service that allows you to log-on to many different websites using a single identity.
                    Find out <a href="http://openid.net/what/">more about OpenID</a> and
                    <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.
                </p>
            </noscript>
        </fieldset>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {% if pwlogin %}
        <div>
            <form action="/login/" method="post" id="login_form">{% csrf_token %}
                <input type="text" id="loginname" name="loginname"/>
                <input type="password" id="loginpw" name="loginpw"/>
                <input type="submit" name="formlogin" value="Login"/>
            </form>
        </div>
    {% endif %}
</section>
{% endblock %}