<div id="FuzzedShapes">
	<ul data-role="listview" data-theme="c" data-divider-theme="c" data-inset="true" >
		<li data-role="list-divider">Shapes</li>
		<li>
			<div class="ui-grid-a">
                {% for node_kind, node in nodes.items %}

					{% if not node.excludeFromShapesMenu %}
					<div class="ui-block-{% cycle 'a' 'b' %} fuzzed-node-thumbnail-cell" title="{{node.help }}">
						&nbsp
						<div id="{{ node_kind }}" class="fuzzed-node-thumbnail fuzzed-{{ node_kind }}">
							{% include node.image %}
						</div>
						&nbsp
						<span class="fuzzed-node-thumbnail-label">{{ node.name }}</span>
					</div>

					{% else %}
                    <div style="display: none">
                        <div id="{{ node_kind }}">
                            {% include node.image %}
                        </div>
                    </div>
					{% endif %}

				{% endfor %}
			</div>
		</li>
	</ul>
</div>