<div id="FuzzedShapes">
	<ul data-role="listview" data-theme="c" data-divider-theme="c" data-inset="true" >
		<li data-role="list-divider">Shapes</li>
		<li>
			<div class="ui-grid-a">
				{% for key, node in node_types.items %}

					{% if not 'hidden' in node or not node.hidden %}
					<div class="ui-block-{% cycle 'a' 'b' %} fuzzed-node-thumbnail-cell" title="{{ node.help }}">
						&nbsp
						<div id="{{ node.type }}" class="fuzzed-node-thumbnail fuzzed-{{ node.type }}">
							{% include node.image %}
						</div>
						&nbsp
						<span class="fuzzed-node-thumbnail-label">{{ node.name }}</span>
					</div>

					{% else %}
					<div class="fuzzed-node-thumbnail-cell" style="display:none">
						<div id="{{ node.type }}" class="fuzzed-node-thumbnail fuzzed-{{ node.type }}">
							{% include node.image %}
						</div>
					<div>
					{% endif %}

				{% endfor %}
			</div>
		<li>
	</ul>
</div>