<VirtualHost *:80>
        ServerName {{ servername }}
        ServerAlias {{ serveralias }}
        ServerAdmin webmaster@{{ servername }}
        Redirect 301 / https://{{ servername }}/
</VirtualHost>

<VirtualHost *:443>
        ServerName    {{ servername }}
        ServerAdmin   webmaster@{{ servername }}
        DocumentRoot  {{ www_base_dir }}
        Alias /static {{ www_base_dir }}/FuzzEd/static-release

        <Directory  /usr/local/lib/python2.7/>
                Options FollowSymLinks
                AllowOverride None
                Order deny,allow
                Allow from all
        </Directory>

        WSGIDaemonProcess {{ servername }} processes=5 threads=1 maximum-requests=1000 display-name=%{GROUP} python-path={{ www_base_dir }} 
        WSGIProcessGroup  {{ servername }}
        WSGIScriptAlias / {{ www_base_dir }}/FuzzEd/wsgi.py
        WSGIPassAuthorization On

        ErrorLog ${APACHE_LOG_DIR}/{{ servername }}.error.log
        LogLevel info
        CustomLog ${APACHE_LOG_DIR}/{{ servername }}.access.log combined

        SSLEngine On
        SSLCertificateKeyFile   {{ ssl_key }}
        SSLCertificateFile      {{ ssl_cert }}
</VirtualHost>
