{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - {{ graph.name }}
{% endblock %}

{% block style %}
    {{ block.super }}
    @import url("{{ STATIC_URL }}css/editor/editor.css");
    @import url("{{ STATIC_URL }}css/editor/menus.css");
    @import url("{{ STATIC_URL }}css/editor/canvas.css");
{% endblock %}

{% block script %}
<!-- requirejs and own code -->
<script src="{{ STATIC_URL }}lib/requirejs/require-jquery.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">
    require.config({
        baseUrl: '{{ STATIC_URL }}script/',
        waitSeconds: 5,
        paths: {
            // require plugins
            'text' :      '../lib/requirejs/plugins/text', // required by json plugin
            'json' :      '../lib/requirejs/plugins/json',
            // jquery and plugins
            'jquery':        'require-jquery',
            'jquery.ui':     '../lib/jquery-ui-1.9.1',
            'jquery.svg':    '../lib/jquery-svg/jquery-svg-1.4.5',
            'jquery.svgdom': '../lib/jquery-svg/jquery-svgdom-1.4.5',
            // other libs
            'bootstrap':  '../lib/bootstrap/js/bootstrap-2.0.4.min',
            'underscore': '../lib/underscore/underscore-1.4.3.min',
            'jsplumb':    '../lib/jsplumb/jsplumb-1.3.16',
            'bignumber':  '../lib/bignumber/bignumber.min',

            'notations':  '../notations'

        },
        // define dependencies for libs that are not AMD compatible
        shim: {
            'jquery.ui/jquery.ui.core':       ['jquery'],
            'jquery.ui/jquery.ui.widget':     ['jquery'],
            'jquery.ui/jquery.ui.mouse':      ['jquery.ui/jquery.ui.core', 'jquery.ui/jquery.ui.widget'],
            'jquery.ui/jquery.ui.draggable':  ['jquery.ui/jquery.ui.mouse'],
            'jquery.ui/jquery.ui.droppable':  ['jquery.ui/jquery.ui.mouse'],
            'jquery.ui/jquery.ui.selectable': ['jquery.ui/jquery.ui.mouse'],

            'jquery.svg':    ['jquery'],
            'jquery.svgdom': ['jquery.svg'],

            'underscore': {
                exports: '_'
            },

            'jsplumb': {
                deps: ['jquery', 'jquery.ui/jquery.ui.draggable', 'jquery.ui/jquery.ui.droppable'],
                exports: 'jsPlumb'
            }
        }
    });

    require(['{{ graph.kind }}/editor', 'bootstrap' /* needed for dropdown menu */], function(Editor) {
        jQuery(document).ready(function() {
            new Editor({{ graph.pk }});
        });
    });
</script>
{% endblock %}

{% block navigation_fields %}
<li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog icon-white"></i> Actions <b class="caret"></b>
        </a>
        <ul id="FuzzEdNavbarActions" class="dropdown-menu">
        </ul>
    </li>
</li>
{% endblock %}

{% block body %}
    {% include "editor/editor_splash.html" %}

    <div id="FuzzEdContent">
        {% include "editor/editor_canvas.html" %}
        {% include "editor/editor_shapes.html" %}
        {% include "editor/editor_properties.html" %}
    </div>
{% endblock %}

{% block footer %}
    {% comment %}Footer is not needed here, so we clear it here{% endcomment %}
{% endblock %}