<div id="FuzzEdLayoutMenu" class="menu" header="Layout">
    <div class="menu-controls">
        <span class="menu-close"></span>
    </div>
    <div class="modal-body">
        <p>
            Do you want to keep this layout?
        </p>
        <small>We assume you do, when you continue to edit the graph.</small>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Keep</button>
        <button type="button" class="btn btn-danger">Undo</button>
    </div>
</div>
            