<div id="FuzzEdShapes" class="menu" header="Shapes">
    <div class="menu-controls">
        <span class="menu-minimize"></span>
    </div>

    <table>
    {% for kind, node in nodes %}
        {% if not node.excludeFromShapesMenu %}
            {% cycle '<tr>' '' %}
                <td class="right-tooltip" title="{{ node.help }}">
                    {% include graph.kind|add:'/'|add:node.image %}
                    <span>{{ node.name }}</span>
                </td>
            {% cycle '' '</tr>' %}
        {% else %}
            <td style="display: none">
                {% include graph.kind|add:'/'|add:node.image %}
            </td>
        {% endif %}
    {% endfor %}
    </table>
</div>