{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - {{ graph.name }}
{% endblock %}

{% block style %}
    {{ block.super }}
    @import url("{{ STATIC_URL }}css/editor/editor.css");
    @import url("{{ STATIC_URL }}css/editor/menus.css");

    @import url("{{ STATIC_URL }}css/jquery.ui.custom.css");
    @import url("{{ STATIC_URL }}css/slick.grid.css");
    @import url("{{ STATIC_URL }}css/slick.grid.theme.css");
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript" language="javascript">
    // start editor
    require(['{{ graph.kind }}/editor', 'bootstrap' /* needed for dropdown menu */], function(Editor) {
        jQuery(document).ready(function() {
            new Editor({{ graph.pk }});
        });
    });
</script>
{% endblock %}

{% block navigation_fields %}
<li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog icon-white"></i> Actions <b class="caret"></b>
        </a>
        <ul id="FuzzEdNavbarActions" class="dropdown-menu">
            {% if graph.kind == 'fuzztree' %}
                <li>
                    <a href="{% url 'graph_download' graph.pk %}?format=xml">
                        Save as XML <i class="icon-download"></i>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'graph_download' graph.pk %}?format=json">
                    Save as JSON <i class="icon-download"></i>
                </a>
            </li>
        </ul>
    </li>
</li>
{% endblock %}

{% block content %}
    {% include "editor/editor_splash.html" %}

    <div id="FuzzEdContent">
        {% include "editor/editor_canvas.html" %}
        {% include "editor/editor_shapes.html" %}
        {% include "editor/editor_properties.html" %}
    </div>
{% endblock %}

{% block footer %}
    {% comment %}Footer is not needed here, so we clear it here{% endcomment %}
{% endblock %}
