<div id="FuzzEdShapes" class="menu" header="Shapes">
    <div class="menu-controls">
        <span class="menu-minimize"></span>
    </div>

    <table>
    {% for kind, node in nodes %}
        {% if not node.excludeFromShapesMenu %}
            {% cycle '<tr>' '' %}
                <td class="right-tooltip" title="{{ node.help }}">
                    <div class="draggableDiv">
                      {% include graph.kind|add:'/'|add:node.image %}
                    </div>  
                    <span>{{ node.nodeDisplayName }}</span>
                </td>
            {% cycle '' '</tr>' as row_terminator %}
        {% endif %}
    {% endfor %}
    {% cycle row_terminator %}

    {% for kind, node in nodes %}
        {% if node.excludeFromShapesMenu %}
            {% cycle '<tr>' '' %}
                <td style="display: none">
                    {% include graph.kind|add:'/'|add:node.image %}
                </td>
            {% cycle '' '</tr>' as hidden_row_terminator %}
        {% endif %}
    {% endfor %}
    {% cycle hidden_row_terminator %}
    </table>
</div>
