<!-- 
    I know I will burn in hell for using tables to format page layout. But, it is still, even in HTML5 times, the simplest and clearest way to vertically align content with unknown height. Therefore, dear refactorer forgive me and accept my apology! You will definately get a beer on the house, if you can deliver a better solution. Kind regards, murxman@gmail.com.
-->
<table id="FuzzEdSplash" class="overlay">
    <tr>
        <td class="span4">&nbsp</td>
        <td class="span4 center-vertical">
            <h1>FuzzEd <small>v0.1b</small></h1>
            developed at <strong>Hasso-Plattner-Institute, Germany</strong>

            <section>
                <div class="well">
                    <div class="progress progress-success progress-striped active">
                        <div class="bar" style="width: 100%"></div>
                    </div>

                    <h6>{{ greetings|random }}</h6>
                </div>
            </section>
        </td>
        <td class="span4">&nbsp</td>
    </tr>
</table>