<!DOCTYPE html>
<html>

<head>
	<title>Create a new Graph</title>
	{% include "util/style.html" %}
</head>

<body>
	{% include "util/toolbar.html" %}

	<div class="container">

		<div class="page-header">
			<h1>
				Create a new
				<small>{{ name }}</small>
			</h1>
		</div>

		<form method="POST" action="/dashboard/new/" class="form-horizontal">{% csrf_token %}
			<fieldset>
				<div class="control-group">
					<div class="controls">
						<strong>{{ name }}</strong>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input type="text" class="input-xlarge" name="title" value="Reliability Diagram" id="title">
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" name="save" class="btn btn-primary">Create</button>
					<a href="/dashboard/"><button class="btn">Cancel</button></a>
				</div>

				<input type="hidden" name="type" value="{{ type }}">
			</fieldset>
		</form>

	{% include "util/footer.html" %}
	</div>

</body>
</html>
