{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - Create a Graph
{% endblock %}

{%block navigation_home %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Create
        <small>a new {{ name }} diagram</small>
    </h1>
</div>

<form method="POST" action="{% url 'dashboard_new' project.pk %}" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <label class="col-lg-2 control-label">Kind</label>
            <div class="col-lg-10">
                <p class="form-control-static">{{ name }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="name">Title</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="name" value="Reliability Diagram" id="name">
            </div>
        </div>

        <div class="form-group">
            <div class="col-push-2 col-lg-10">
                <button type="submit" name="save" value="save" class="btn btn-primary">Create</button>
                <a class="btn btn-default" href="{% url 'dashboard' project.pk %}">Cancel</a>
            </div>
        </div>

        <input type="hidden" name="kind" value="{{ kind }}">
    </fieldset>
</form>
{% endblock %}
