{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - Edit {{ graph }}
{% endblock %}

{%block navigation_home %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Edit <small>{{ graph }}</small>
    </h1>
</div>

<form method="POST" action="{% url 'graph_settings' graph.pk %}" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <label class="col-lg-2 control-label">Kind</label>
            <div class="col-lg-10">
                <p class="form-control-static">{{ kind }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="name">Title</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="name" value="{{ graph }}" id="name">
            </div>
        </div>

        <div class="form-group">
            <div class="col-push-2 col-lg-10">
                <button type="submit" name="save" value="save" class="btn btn-primary">Save</button>
                <button class="btn btn-default" onclick="history.go(-1); return false;">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
