{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - Dashboard
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{{ STATIC_URL }}lib/requirejs/require-jquery.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">
    require.config({
        baseUrl: '{{ STATIC_URL }}script/',
        waitSeconds: 5,
        paths: {
            'jquery':    'require-jquery',
            'bootstrap': '../lib/bootstrap/js/bootstrap-2.0.4.min'

        }
    });

    require(['bootstrap'], function() {
        var graph_to_delete = null;

        function delete_clicked(event) {
            event.stopPropagation();

            graph_to_delete = jQuery(this).closest('form');
            var dialog      = jQuery('#delete_dialog')
            var name        = dialog.find('#delete_name');

            name.html(graph_to_delete.closest('tr').find('strong.graph_name').html())
            dialog.modal().show();
        }

        function delete_confirmed(event) {
            console.log(graph_to_delete);
            
            graph_to_delete.find('input.delete_flag')
                           .attr('name',  'delete')
                           .attr('value', 'delete');
            graph_to_delete.submit();
            graph_to_delete = null;
        }

        jQuery(document).ready(function() {
            jQuery('button.require-dialog').click(delete_clicked);
            jQuery('#confirm_delete').click(delete_confirmed);
        });
    });
</script>
{% endblock %}

{%block navigation_home %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Dashboard
    </h1>
</div>

<form action="/dashboard/new/" method="post">
    {% csrf_token %}
    <div class="btn-group pull-right">
        <button type="submit" name="kind" value="faulttree" class="btn">
            <i class="icon-file"></i>
            New FaultTree
        </button>
        <button type="submit" name="kind" value="fuzztree" class="btn">
            <i class="icon-file"></i>
            New FuzzTree
        </button>
        <button type="submit" name="kind" value="rbd" class="btn">
            <i class="icon-file"></i>
            New RBD
        </button>
    </div>
</form>

<section>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Graph</th>
                <th></th>
                <th>Kind</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for name, graph in graphs %} 
                <tr onclick="document.location = '/editor/{{ graph.pk }}';">
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <strong class="graph_name">{{ graph }}</strong>
                    </td>
                    <td>
                        {% if graph.read_only %}
                            <span class="label label-info">
                                <i class="icon-lock icon-white"></i>
                                read-only
                            </span>
                        {% endif %}
                    </td>
                    <td><span class="label">{{ name }}</span></td>
                    <td>{{ graph.created }}</td>
                    <td style="text-align: right;">
                        <form action="/dashboard/{{ graph.pk }}/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" class="delete_flag">
                            <button type="submit" name="edit" value="edit" class="btn">
                                <i class="icon-wrench"></i>
                                Settings
                            </button>
                            <button type="submit" name="copy" value="copy" class="btn">
                                <i class="icon-plus-sign"></i>
                                Copy
                            </button>
                            <button type="submit" name="copy-read-only" value="copy-read-only" class="btn">
                                <i class="icon-lock"></i>
                                Copy read-only
                            </button>
                            <button type="button" class="btn btn-danger require-dialog">
                                <i class="icon-white icon-trash"></i>
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<!-- hidden modal dialog for graph deletion confirmation -->
<div class="modal hide fade" id="delete_dialog" role="dialog" aria-labelledby="header" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="header">Confirmation</h3>
    </div>
    
    <div class="modal-body">
        <p>Are you sure you want to delete <strong id="delete_name"></strong>?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirm_delete">
            <i class="icon-white icon-trash"></i>
            Delete
        </button>
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel
        </button>
    </div>
</div>
{% endblock %}
