{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - Create a Graph
{% endblock %}

{%block navigation_home %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Create
        <small>a new {{ name }} diagram</small>
    </h1>
</div>

<form method="POST" action="/dashboard/new/" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <div class="form-controls">
                <strong>{{ name }}</strong>
            </div>
        </div>

        <div class="form-group">
            <label class="from-label" for="name">Title</label>
            <input type="text" class="form-control input-xlarge" name="name" value="Reliability Diagram" id="name">
        </div>

        <div class="form-group">
            <button type="submit" name="save" value="save" class="btn btn-primary">Create</button>
            <a class="btn btn-default" href="/dashboard/">Cancel</a>
        </div>

        <input type="hidden" name="kind" value="{{ kind }}">
    </fieldset>
</form>
{% endblock %}
