<!DOCTYPE html>

<html lang="en">
<head>
<title>500 - Internal Server Error</title>
{% include "include/style.html" %}
</head>

<body>
	<div class="container error_container">
		<div class="hero-unit">
			<h1>500</h1>
			<h3>“There are two ways to write error-free programs; only the third one works.” - Alan J. Perlis</h1>
			<h6>
				Apparently, we have not figured it out completly yet. But we trying!
				However, if you like you can leave short note on how you got <a href="http://fuzztrees.uservoice.com/">here</a>.
			</h6>
		</div>

		{% include "util/footer.html" %}
	</div>
</body>
</html>