<html>
<head>
</head>
<body>
<div data-role="dialog">
<div data-theme="c" data-role="header"><h1>Edit properties</h1></div>
	<div data-role="content">
		<form method="POST" action="/dashboard/">{% csrf_token %}
			<input type="hidden" name="graph" value="{{ graph.pk }}" />
			<fieldset class="ui-grid-a">
				<div class="ui-block-a">
					<input type="text" name="newtitle" id="title" value="{{ graph }}"/>
				</div>
				<div class="ui-block-b">
					<input data-icon="check" data-theme="e" type="submit" name="change" value="Change title"/>
				</div>
			</fieldset>
			<button data-icon="minus" data-theme="e" type="submit" name="delete">Delete graph</button>
			<button type="submit" data-rel="back">Cancel</button>
		</form>
	</div>
</div>
</body>
</html>
