<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<head>
	<title>FuzzTrees Modeling - Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style type="text/css">
		@import url("{{ STATIC_URL }}lib/jquery-mobile/jquery.mobile-1.1.0.min.css");
		@import url("{{ STATIC_URL }}css/layout.css");
	</style>

    <script src="{{ STATIC_URL }}lib/jquery-ui/development-bundle/jquery-1.7.2.js" type="text/javascript" language="javascript"></script>
    <script src="{{ STATIC_URL }}lib/jquery-mobile/jquery.mobile-1.1.0.min.js" type="text/javascript" language="javascript"></script>
</head>

<body>
	<div data-role="page">
		<div data-role="header">
			{% include "toolbar.html" %}
		</div>

		<div data-role="content">
		<ul data-role="listview">
		{% for g in graphs %}
		<li>
			<a class="ui-li-heading" href="/editor/{{ g.pk }}">{{ g }}</a>
			<p class="ui-li-desc">Created on: {{ g.created }}</p>
		</li>
		{% endfor %}
		</ul>
		</div>
	</div>
</body>
</html>
