<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<head>
	<title>FuzzTrees - Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style type="text/css">
		@import url("{{ STATIC_URL }}lib/jquery-mobile/jquery.mobile-1.1.0.min.css");
		@import url("{{ STATIC_URL }}css/layout.css");
	</style>

    <script src="{{ STATIC_URL }}lib/jquery-ui/development-bundle/jquery-1.7.2.js" type="text/javascript" language="javascript"></script>
    <script src="{{ STATIC_URL }}lib/jquery-mobile/jquery.mobile-1.1.0.min.js" type="text/javascript" language="javascript"></script>
</head>

<body>
	<div data-role="page">

		<div data-theme="d" data-role="header" id="toolbar">
			<h1>FuzzTrees - Dashboard</h1>
			<a href="/?logout" class="ui-btn-right" data-icon="delete" data-ajax="false">Logout</a>
		</div>

		<div data-role="content">
			<ul data-role="listview" data-split-icon="gear" class="ui-listview-inset ui-corner-all ui-shadow">
			{% for g in graphs %}
			<li>
				<a data-ajax="false" class="ui-link-inherit" href="/editor/{{ g.pk }}">
					<h3 class="ui-li-heading">{{ g }}</h3>
					<p class="ui-li-desc">Created on: {{ g.created }}</p>
				</a>
				<a href="/dashboard/{{ g.pk }}" data-rel="dialog">Edit</a>
			</li>
			{% endfor %}
			</ul>
			<form action="/dashboard/" style="text-align: center" method="post">{% csrf_token %}
			   <button type="submit" name="new" value="faulttree" data-inline="true" data-icon="plus" disabled="True" >New Fault Tree Diagram</button>
			   <button type="submit" name="new" value="fuzztree"  data-inline="true" data-icon="plus" >New FuzzTree Diagram</button>
			   <button type="submit" name="new" value="rbd"       data-inline="true" data-icon="plus" disabled="True" >New Reliability Block Diagram</button>
			</form>
		</div>

		{% include "footer.html" %}

	</div>
</body>
</html>
