<html>

<head>
	<title>FuzzTrees Modeling - Demo Page</title>

	<style type="text/css">
		@import url("{{ STATIC_URL }}lib/jquery-ui/css/custom-theme/jquery-ui-1.8.20.custom.css");
		@import url("{{ STATIC_URL }}css/editor.css");
	</style>

	<script type="text/javascript">
		graph_id = {{ graph_id }};
	</script>

	<script data-main="{{ STATIC_URL }}FuzzEd" src="{{ STATIC_URL }}lib/requirejs/require-1.0.8.min.js" type="text/javascript" language="javascript"></script>
</head>

<body>
	{% include "headline.html" %}
	<div id="graphs"><ul>
		{% for g in graphs %}<li><a href="{% url editor g.pk %}">{{ g.name }}</a></li>{% endfor %}
	</ul></div>
	<div id="fuzzed-editor">
	</div>
</body>
</html>
