<div id="fuzzed-toolbar" class="ui-widget ui-widget-header">
{% if user.is_authenticated and not user.is_anonymous %}
    <div id="fuzzed-login">
    	<span>Hello {{ user }}</span>
    	<form id="fuzzed-login-button" action="/logout/" method="post">{% csrf_token %}
    	   <input type="submit" value="Logout"/>
    	</form>
    </div>

{% else %}
    <div id="fuzzed-login">
    	<form action="/login/" method="post">{% csrf_token %}
        	<label for="loginname">Name:</label><input id="loginname" name="loginname" type="text"/>
        	<label for="loginpw">Password:</label><input id="loginpw" name="loginpw" type="password"/>
        	<input type="submit" value="Login"/>
    	</form>
    </div>
{% endif %}
</div>
