<div id="FuzzEdToolbar" class="fuzzed-header ui-widget-header">
{% if user.is_authenticated and not user.is_anonymous %}
    Hello {{ user }}
    <form id="FuzzEdUserLogin" action="/logout/" method="post">{% csrf_token %}
       <input type="submit" value="Logout"/>
    </form>

{% else %}
	<form id="FuzzEdUserLogin" action="/login/" method="post">{% csrf_token %}
    	<label for="loginname">Name:</label><input id="loginname" name="loginname" type="text"/>
    	<label for="loginpw">Password:</label><input id="loginpw" name="loginpw" type="password"/>
    	<input type="submit" value="Login"/>
	</form>
{% endif %}
</div>
