{% extends "util/base.html" %}

{% block title %}
    {{ block.super }} - Dashboard
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript" language="javascript">
    require(['bootstrap'], function() {
 
        var row_clicked = function(event){
          // highlight or unhiglight row if checkbox was clicked
          jQuery(this).closest('tr').toggleClass('active');
          
          // hide/unhide graph toolbar
          if(jQuery('.graph_select:checked').length > 0){
            jQuery('#dashboard_toolbar').fadeIn();
          }
          else{
            jQuery('#dashboard_toolbar').fadeOut();
          }
        };
        
        var initalize_graph_selection = function(){
          // if page gets loaded with history.go(-1) restore the previous state
          checked_rows = jQuery('.graph_select:checked');
          
          if(checked_rows.length > 0){
            jQuery('#dashboard_toolbar').css("display", "block");
            checked_rows.closest('tr').addClass('active');
          }          
        };
          
        jQuery(document).ready(function() {
            initalize_graph_selection();
            jQuery('.graph_select').click(row_clicked);
        });
    });
</script>
{% endblock %}

{% block goto_menu %}
    <li><a href="{% url 'projects' %}"><i class="fa fa-fw fa-home"></i> Projects</a></li>
    {% for project in proposals %} 
          <li><a href="{% url 'dashboard' project.pk %}"><i class="fa fa-fw fa-folder"></i> {{ project.name }}</a></li>
    {% endfor %}
    <li class="divider"></li>
    <li><a href="/settings"><i class="fa fa-fw fa-user"></i> Account settings</a></li>
    <li><a href="https://groups.google.com/forum/#!forum/ore-support"><i class="fa fa-fw fa-bolt"></i> Feedback </a></li>
    <li><a href="/?logout"><i class="fa fa-fw fa-power-off"></i> Logout </a></li>
{% endblock %}


{% block content %}
<div class="page-header">
    <h2>
      <i class="fa fa-share"></i>
      Shared Graphs
    </h2>
</div>


<section>
    <form id="graph_selection" action="{% url 'shared_graphs_dashboard' %}" method="POST">
        {% csrf_token %}
        <div class="toolbar_wrap_div">
            <div id="dashboard_toolbar" class="btn-toolbar pull-left">              
               <div class="btn-group">
                  <button type="submit" name="unshare" value="unshare" class="btn btn-small">
                      <i class="fa fa-times"></i>
                      Remove Sharing
                  </button>
               </div>
            </div>
        </div>
       
        <table class="table" class="img-rounded">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Graph</th>
                    <th>Kind</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
            </thead>
        
            <tbody>
                {% for name, graph in graphs %} 

                       <tr id="{{ graph.pk }}" class="info">               
                                             
                        <td>
                          <div class="checkbox">
                            <input type="checkbox" name="graph_id[]" value="{{ graph.pk }}"  class="graph_select">
                          </div>
                        </td>
                        
                        <td>
                                <i class="fa fa-lock"></i>
                        </td>
                        
                        <td>
                            <a href="{% url 'snapshot' graph.pk %}">
                            <strong class="graph_name">{{ graph }}</strong>
                            </a>
                        </td>
                        
                        <td><span class="label label-info">{{ name }}</span></td>
                        
                        <td>{{ graph.owner.visible_name }}</td>                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</section>
{% endblock %}
