#FuzzedToolbar {
    height:      44px;
    font-size:   11px;
    overflow:    hidden;
}

#FuzzedLogin {
    text-align:  right;
    height:      44px;
    padding:     0px 5px;
}

#FuzzedContent {
    position: absolute;
    top:      46px;
    bottom:   0;
    width:    100%;
}

#FuzzedShapes {
	position:     relative;
    width:        200px;
    min-width:    200px;
    height:       100%;
    float:        left;
    overflow:     auto;
    border-right: 1px solid #bbb;
}

#FuzzedCanvas {
	position:         relative;
	height:           100%;
	overflow:         auto;
    background-color: white;
}

.fuzzed-header-label {
    line-height: 30px;
    padding:     0px 5px;
    text-align:  center;
}

#FuzzedToolbar .fuzzed-header-label {
    line-height: 44px;
}

.fuzzed-header-button {
    display: inline;
    padding: 0px 5px;
}

.fuzzed-node-thumbnail {
    display: inline;
    margin:  3px 0 5px 0;
    height:  30px;
}

.fuzzed-node-thumbnail-label {
    /* here be dragons - nasty workaround for the draggable centering problem */
    display: block;
}

.fuzzed-node-thumbnail-cell {
    text-align: center;
    font-size:  0.7em;
    margin:     10px 0px;
}