#toolbar {
    height: 37px;
}

#FuzzedContent {
    position: absolute;
    top:      39px;
    bottom:   0;
    width:    100%;
}

#FuzzedShapes {
	position:  absolute;
    top:       0;
    left:      0;
    width:     200px;
    min-width: 200px;
    overflow:  auto;
    z-index:   100;
}

#FuzzedCanvas {
	position:         relative;
	height:           100%;
	overflow:         auto;
    background-color: white;
    z-index:          0;
}

#FuzzedProperties {
    position:  absolute;
    top:       0;
    right:     0;
    width:     300px;
    min-width: 300px;
    overflow:  auto;
    z-index:   100;
}

.fuzzed-node-thumbnail-cell {
    text-align: center;
    font-size:  0.7em;
    margin:     10px 0px;
}

.fuzzed-node-thumbnail {
    display: inline-block;
}

.fuzzed-node-thumbnail svg {
    margin:  3px 0 5px 0;
}

.fuzzed-node-thumbnail-label {
    /* here be dragons - nasty workaround for the draggable centering problem */
    display: block;
}

.fuzzed-node {
    text-align: center;;
}

.fuzzed-node-image {
    display: inline-block;
    margin:  3px;
}

.fuzzed-node-label {
    display:     block;
    height:      15px;
    line-height: 15px;
    font-weight: bold;
    font-size:   0.8em;
}

#FuzzedProperties .fuzzed-property-label {
    vertical-align: middle;
    font-weight:    bold;
    width:          30%;
}

#FuzzedProperties .fuzzed-property-text {
    width: 64%;
}