body {
	padding: 80px;
}

section {
	padding-top: 40px;
}

.error_container .hero-unit {
	margin-top: 35px;
}

.footer {
	margin-top: 35px;
	padding: 35px 0px 35px 0px;
	border-top: 1px solid #E5E5E5;
}

.footer p {
	margin-bottom: 0;
}