#toolbar {
    height: 37px;
}

#FuzzedSplash {
    position:         absolute;
    width:            100%;
    height:           100%;
    background-color: #F9F9F9;
    z-index:          5000;
}

#FuzzedSplash > div {
    position:   absolute;
    width:      100%;
    height:     30%;
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
    text-align: center;
    margin:     auto;
}

#FuzzedSplash img {
    margin-bottom: 21px;
}

#FuzzedSplash h5 {
    font-size:   11px;
    font-weight: bolder;
    padding:     0;
    margin:      4px;
}

#FuzzedProperties {
    position:  absolute;
    top:       0;
    right:     0;
    width:     250px;
    min-width: 250px;
    overflow:  auto;
    z-index:   100;
}

.fuzzed-node {
    text-align: center;;
}

.fuzzed-node-image {
    display:  inline-block;
    position: relative;
    margin:   0px 3px 3px 3px;
    z-index:  100;
}

.fuzzed-node-labels {
    position:         absolute;
    z-index:          110; /* above connections */
    background-color: rgba(255, 255, 255, 0.7);
}

.fuzzed-node-label {
    display:          block;
    position:         relative;
    line-height:      15px;
    font-weight:      bold;
    font-size:        0.8em;
    text-align:       center;
    word-wrap:        break-word;
    margin-bottom:    3px;
}

.fuzzed-node-label-probability {
    font-size:   11px;
    font-weight: normal;
    font-style:  italic;
}

.fuzzed-node-halo-connect {
    /* XXX: this is a temporary solution */
    background-color:       #409FFF;
    position:               absolute;
    visibility:             hidden;
    top:                    50px;
    left:                   18px;
    z-index:                150; /* above image, TODO: let halo care about that */
    cursor:                 move;
}

.fuzzed-node-selected .fuzzed-node-halo-connect {
    background-color:       #FF9640;
}

.fuzzed-node:hover .fuzzed-node-halo-connect {
    visibility: visible;
}

.fuzzed-node-optional-indicator {
    width:   12px;
    height:  12px;
    margin:  0 auto;
    z-index: 100; /* above connection */
}

.fuzzed-ajax-loader {
    visibility: hidden;
}

.jsplumb-endpoint {
    opacity: 0;
    z-index: 50; /* above connection, below image */
}

.jsplumb-endpoint.jsplumb-endpoint-hover {
    opacity: 1;
}

#FuzzedProperties .ui-field-contain {
    margin: 5px 0;
}

#FuzzedProperties .fuzzed-property-label {
    vertical-align: middle;
    font-weight:    bold;
    width:          30%;
    font-size:      12px;
}

/* Select */
#FuzzedProperties div.ui-select {
    width:        63%;
    padding-left: 0.4em;
    margin:       5px 0;
}

#FuzzedProperties div.ui-select span.ui-btn-text {
    font-size:   12px;
    font-weight: normal;
}

#FuzzedProperties div.ui-select span.ui-btn-inner {
    padding: 0.35em 35px 0.35em 11px;
}

/* Single Choice */
#FuzzedProperties div.ui-controlgroup-label {
    width:       34%;
    font-size:   12px;
    font-weight: bold;
    float:       left;
}

#FuzzedProperties div.ui-controlgroup-controls {
    width:   63%;
    display: inline-block;
}

#FuzzedProperties span.ui-btn-inner {
    padding: 0.35em 36px 0.35em;
}

/* Text */
#FuzzedProperties .fuzzed-property-text {
    font-size:   12px;
    line-height: 1;
    width:       63%;
}

#FuzzedProperties input[disabled] {
    background-color:   transparent;
    border:             none;
    outline:            none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

/* Range */
#FuzzedProperties .fuzzed-property-range-min {
    width: 29%;
}

#FuzzedProperties .fuzzed-property-range-max {
    width: 29%;
}

#printtitle {display: none;}

@media print {
	#FuzzedShapes {display: none;}
	#FuzzedProperties {display: none;}
	#FuzzedCanvas {overflow: visible;}
	#printtitle {display: block; text-align: center;}
	.ui-header {display: none;}
}