#FuzzEdCanvas {
    overflow: visible !important;
    height:   auto    !important;
}

.menu {
    display:    none   !important;
    visibility: hidden !important;
}

.no-print {
    display:    none   !important;
    visibility: hidden !important;
}

