#FuzzEdContent {
    top: 0 !important; /* avoid free area formally used by menu */
}

#FuzzEdCanvas {
    overflow: visible !important;
    height:   auto    !important;
}

.menu {
    display:    none   !important;
    visibility: hidden !important;
}

.no-print {
    display:    none   !important;
    visibility: hidden !important;
}

