section {
	padding-top: 40px;
}

#FuzzEdSplash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#FuzzEdSplashContent {
	text-align: center;
	vertical-align: middle;
}

.FuzzEdContent {
	padding-top: 80px;
}

.footer {
	margin-top: 35px;
	padding: 35px 0px 35px 0px;
	border-top: 1px solid #E5E5E5;
}

.footer p {
	margin-bottom: 0;
}

.table td {
	vertical-align: middle;
}

.table tbody tr:hover {
	cursor: pointer;
}

.table tbody form {
	margin: 0;
}

.table tbody button {
	cursor: default;
}