@import "variables";
@import "../theme-base";

.navbar-fixed-top {
    border-bottom: 1px solid @theme-border;
    .box-shadow(0px 1px 3px @theme-border);
}

.dropdown-menu {
    .box-shadow(1px 1px 3px @theme-border);

    > li > a {
        &:hover,
        &:focus {
            background-color: @dropdown-link-hover-bg;
            background-image: none;
        }
    }
}

.navbar-brand {
    small {
        color: @headings-small-color;
        font-weight: normal;
        // for some reason the small element is higher then the brand...
        line-height: @line-height-computed - 4;
    }
}